.core_wrapper {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.datasection {
  text-align: center;
}

/*.dataTable_length{
  margin-bottom : 40px;
  margin-left: 150px;
}*/
.datatable{
  display: inline-block;
}
.position {
  padding: 8px 10px 8px 10px;
  margin-right: 10px;
}
.tdStyle {
  padding: 8px 10px 8px 10px;
}

.dataTables_wrapper .dataTable_length {
  /*float: right !important;*/
  margin-left: 150px ;
  margin-bottom: 50px;
}

.sorting_1 {
  background-color: #f1f1f1;
  padding: 8px 10px 8px 10px;
}

#core_wrapper {
  margin: 50px;
}

table {
  border-collapse: collapse;
}

table tbody tr {
  border-bottom: 2px solid #ddd;
}

table tbody tr td {
  text-align: center;
}

thead tr th {
  width: 160px;
}


.title {
  border-bottom: 1px solid black;
}

.titlePosition {
  width: 250px !important;
}

.even {
  background-color: #fff ;
}

.odd {
  background-color: #f9f9f9 ;
}
