.core_wrapper {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.datasection {
  text-align: center;
}

/*.dataTable_length{
  margin-bottom : 40px;
  margin-left: 150px;
}*/
.datatable{
  display: inline-block;
}
.position {
  padding: 8px 10px 8px 10px;
  margin-right: 10px;
}
.tdStyle {
  padding: 8px 10px 8px 10px;
}

.dataTables_wrapper .dataTable_length {
  margin-left: 150px ;
  margin-bottom: 50px;
}

.sorting_1 {
  background-color: #f1f1f1;
  padding: 8px 10px 8px 10px;
}

#core_wrapper {
  margin: 50px;
}

table {
  border-collapse: collapse;
}

table tbody tr {
  border-bottom: 2px solid #ddd;
}

table tbody tr td {
  text-align: center;
}

thead tr th {
  width: 160px;
}

.nameSortAsc {
  cursor: pointer ;
  background-repeat: no-repeat ;
  background-position: center right;
  background-image: url('https://www.datatables.net/media/images/sort_asc.png');
}
.nameSortDesc{
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url('https://www.datatables.net/media/images/sort_desc.png');
}

.positionSortAsc {
  cursor: pointer ;
  background-repeat: no-repeat ;
  background-position: center right;
  background-image: url('https://www.datatables.net/media/images/sort_asc.png');
}
.positonSortDesc{
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url('https://www.datatables.net/media/images/sort_desc.png');
}
.OfficeSortAsc {
  cursor: pointer ;
  background-repeat: no-repeat ;
  background-position: center right;
  background-image: url('https://www.datatables.net/media/images/sort_asc.png');
}
.OfficeSortDesc{
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url('https://www.datatables.net/media/images/sort_desc.png');
}

.AgeSortAsc {
  cursor: pointer ;
  background-repeat: no-repeat ;
  background-position: center right;
  background-image: url('https://www.datatables.net/media/images/sort_asc.png');
}
.AgeSortDesc{
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url('https://www.datatables.net/media/images/sort_desc.png');
}

.DateSortAsc {
  cursor: pointer ;
  background-repeat: no-repeat ;
  background-position: center right;
  background-image: url('https://www.datatables.net/media/images/sort_asc.png');
}
.DateSortDesc {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url('https://www.datatables.net/media/images/sort_desc.png');
}

.SalarySortAsc {
  cursor: pointer ;
  background-repeat: no-repeat ;
  background-position: center right;
  background-image: url('https://www.datatables.net/media/images/sort_asc.png');
}
.SalarySortDesc {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url('https://www.datatables.net/media/images/sort_desc.png');
}

.dataTables_filter {
  margin-right: 140px;
  float: right;
  text-align: right
}

.paginate_button{
  box-sizing: border-box;
  display: inline-block;
  padding: 8px 16px 8px 16px;
  margin-left: 2px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 2px;
}

.title {
  border-bottom: 1px solid black;
}

#titlePosition {
  width: 250px !important;
}

.even {
  background-color: #fff ;
}

.odd {
  background-color: #f9f9f9 ;
}
