.core_wrapper {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.datasection {
  text-align: center;
}

.datatable{
  display: inline-block;
}

.position {
  padding: 8px 10px 8px 10px;
  margin-right: 10px;
}

.tdStyle {
  padding: 8px 10px 8px 10px;
}

.dataTable_length{
  /*text-align: center;*/
  display: inline-block;
  padding-bottom:50px;
}

.dataTable_length label{

  /*display: inline-block;*/
  font-size: 110%;
}

.dataTables_wrapper .dataTable_length {
  margin: 60px 60px 20px 60px;
  display: block
}
.show {
  float:left;
  display:block
}
.show label {
  font-weight: bold;
}
.sorting_1 {
  background-color: #f1f1f1;
  padding: 8px 10px 8px 10px;
}

#table {
  border-top: 1px solid black;
}

#table tr th{
  padding: 8px 10px 8px 10px
}

#core_wrapper {
  margin: 50px;
}

#pageSection {
  float:right;
  margin-top: 50px;
  margin-right: 80px;
  margin-bottom: 50px;
}

table {
  border-collapse: collapse;
}

table tbody tr {
  border-bottom: 2px solid #ddd;
}

table tbody tr td {
  text-align: center;
}

body{
  background-color: #f2f8fc;
}

thead tr th {
  width: 160px;
}

.nameSortAsc {
  cursor: pointer ;
  background-repeat: no-repeat ;
  background-position: center right;
  background-image: url('https://www.datatables.net/media/images/sort_asc.png');
}
.nameSortDesc{
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url('https://www.datatables.net/media/images/sort_desc.png');
}

.positionSortAsc {
  cursor: pointer ;
  background-repeat: no-repeat ;
  background-position: center right;
  background-image: url('https://www.datatables.net/media/images/sort_asc.png');
}
.positonSortDesc{
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url('https://www.datatables.net/media/images/sort_desc.png');
}
.OfficeSortAsc {
  cursor: pointer ;
  background-repeat: no-repeat ;
  background-position: center right;
  background-image: url('https://www.datatables.net/media/images/sort_asc.png');
}
.OfficeSortDesc{
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url('https://www.datatables.net/media/images/sort_desc.png');
}

.AgeSortAsc {
  cursor: pointer ;
  background-repeat: no-repeat ;
  background-position: center right;
  background-image: url('https://www.datatables.net/media/images/sort_asc.png');
}
.AgeSortDesc{
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url('https://www.datatables.net/media/images/sort_desc.png');
}

.DateSortAsc {
  cursor: pointer ;
  background-repeat: no-repeat ;
  background-position: center right;
  background-image: url('https://www.datatables.net/media/images/sort_asc.png');
}
.DateSortDesc {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url('https://www.datatables.net/media/images/sort_desc.png');
}

.SalarySortAsc {
  cursor: pointer ;
  background-repeat: no-repeat ;
  background-position: center right;
  background-image: url('https://www.datatables.net/media/images/sort_asc.png');
}
.SalarySortDesc {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url('https://www.datatables.net/media/images/sort_desc.png');
}

.dataTables_filter {
  margin-right: 140px;
  float: right;
  text-align: right
}
.dataTables_filter label {
  font-weight: bold;
  float:left;
  font-size: 120%;
}

.paginate_button{
  box-sizing: border-box;
  display: inline-block;
  padding: 8px 16px 8px 16px;
  margin-left: 2px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}

.navbar {
  text-align: center;
  background-color: #1976D2;
  width: 100%;
  top: 0px;
  z-index: 100;
  height: 64px;
}

.bottom {
  display: block;
  background-color: #1976D2;
  height: 60px;
  margin-top:150px;
  padding-top: 50px;
  z-index: 100;
  top: 0px;
  width: 100%;
}

.navbar span {
  color: #fff;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 64px;
}

.nav-wrapper span{
    font-size: 135%;
}

.bottom a {
  Text-Decoration: None;
  Cursor: pointer;
  float: right;
  color: #fff;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  margin-right: 60px;
  margin-left: 20px;
}

.title {
  border-bottom: 1px solid black;
  background-color: #E3F2FD;
}

#titlePosition {
  width: 250px !important;
}

.even {
  background-color: #fff ;
}

.odd {
  background-color: #f9f9f9 ;
}
